body {
	color: #333333;
    background-color: #ffffff;
} 


/* OverWrite Bootstrap CSS*/ 
/*.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(96, 125, 139, 1);
}*/

.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgb(153, 204, 83);
}


.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    /*color: #fff;
    background-color: #607D8B;*/
    color: #fff;
    background-color: #607D8B;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    background-color: #bcd4d6;
}

.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #607D8B;
    /*color: #fff;
    background-color: #93CA3A;
     background-color: #001451; */
}

.mega-menu-content .box li:hover{
    background: #607D8B;
    color: #fff;
}

.mega-menu-content .box li a{
    color: #607D8B;
}

.mega-menu-content .box li:hover a{
    color: #fff;
}

.mega-menu-content .box li a:hover{
    color: #fff;
}

input:not([type='radio']), textarea, select {
    border: 1px solid #898989;
}

.navbar-inverse{
    border-color: #ccc;
}


.secondary-nav .navbar-fixed-top{
    background: #303030;
}

#navbar-secondary .navbar-nav li a{
    color: #fff;
}


#navbar-secondary .navbar-nav li a{
    color: #fff;
}

.nav.navbar-nav.auth li.active a{
    background: #93CA3A;
    /*background: #727272;*/
    /*-webkit-box-shadow: 1px 2px 15px 0.3px rgba(110,186,23,0.99);
    -moz-box-shadow: 1px 2px 15px 0.3px rgba(110,186,23,0.99);
    box-shadow: 1px 2px 15px 0.3px rgba(110,186,23,0.99); */
}

.nav.navbar-nav.auth li.active a{
    background: #93CA3A;
    -webkit-box-shadow: 1px 2px 15px 0.3px rgba(110,186,23,0.99);
    -moz-box-shadow: 1px 2px 15px 0.3px rgba(110,186,23,0.99);
    box-shadow: 1px 2px 15px 0.3px rgba(110,186,23,0.99); 
}

.nav.navbar-nav.auth li a:hover{
    /*background: #607D8B;*/
    background: #93CA3A;
}

div.box ul li.title{
    background: #F5F5F5;
}

.navbar-toggle {
    background: #303030;
}

#micron_speciality{
    background: #CFD8DC;
}

#navbar-secondary .social-icons ul li i {
    border: 1px solid #fff;
    color: #fff;
}

.primary-nav{
    border-top: solid #f4f4f4;
    background-color: #fff;
    -moz-box-shadow: 0 2px 5px rgba(50,50,50,.4);
    -webkit-box-shadow: 0 2px 5px rgba(50,50,50,.4);
    box-shadow: 0 2px 5px rgba(50,50,50,.4);
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    /*background-color: rgba(96, 125, 139, 0.8);*/

    background-color: #607D8B;
}

/* News and Announcement */
div#news_announcement{
    background: #607D8B;
}


div#micron_speciality .header h1, div#news_announcement .header h1{
    color: #4f4f4f;
}

div#news_announcement .header p{
	color: #fff;
}

.news_slide #owl-demo .item .news-list{
    background: #fff;
}

.news_slide #owl-demo .item .news-list p{
	color: #001451;
}

.news_slide #owl-demo .item .news-list a h4{
    background: #303030;
    color: #fff;
}

.sc_icon_bg_menu {
    color: #1dbb90;
}

.font_5em {
    font-size: 5em;
}

.menu_color {
    color: #1dbb90;
}