/* My Custom Style CSS Framework */

/*
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
*/



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}


/* =========================== */
.float--left{
    float: left;
}

.float--right{
    float: right;
}

.float--none{
    float: none;
}

.margin__bottom--5{
    margin-bottom: 5px !important;
}

.margin__bottom--0{
    margin-bottom: 0;
}

.padding__bottom--5{
    padding-bottom: 5px !important;
}

.padding__bottom--0{
    padding-bottom: 0;
}

.full-width{
    width: 100%;
}

.half-width{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.page-title h1 {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.primary__virtical-center{
    min-height: 5em;
    position: relative;
}

.child__virtical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}



/* OverWrite Bootstrap CSS*/ 


input:not([type='radio']), textarea, select {
    /* width: 283px; */
    height: 38px;
    border: 1px solid #898989;
    padding: 0px 0px 0px 15px;
    margin: 0px 50px 25px 0px;
}





/* ======================================================== */

.secondary-nav{
    z-index: 10;
}




.secondary-nav .center-nav h3{
    color: #fff;
    padding-top: 5px;
    margin: 0;
}

#navbar .navbar-nav{
    min-height: 88px;
    position: relative;
    padding-top: 18px;
    padding-left: 10px;
}


.nav.navbar-nav.auth li a{
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 3px;
}


.nav.navbar-nav.auth li a:last-child{
    margin-left: 10px;
}


#navbar-secondary .social-icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#navbar-secondary .social-icons ul li {
    line-height: 40px;
    display: inline-block;
    margin-left: 5px;
}

#navbar-secondary .social-icons ul li i {
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}

/* ------------------------- */ 

.primary-nav .navbar-header #logo{
    width: 170px;
    height: 100px;
}
.primary-nav .navbar-header #logo img{
    padding: 10px;
    width: 100%;
}

.primary-nav{
    margin-top: 42px;
}



/* Why Choose Micron */
#micron_speciality{
    padding-bottom: 10px;
}

.header{
    padding: 5px;
}

div#micron_speciality .header .paragraph p{
    color: #fff;
    padding-bottom: 10px;
}

#micron_speciality #tab{
    padding-left: 20px;
    background: #f4f4f4;
    min-height: 260px;
    margin-left: -15px;
}

#micron_speciality .image img{
    width: 100%;
}


ul.nav.tab-content{
    margin-left: 20px;
}
ul.nav.tab-content li span.glyphicon{
    margin-left: -25px;
    padding-right: 10px;
    margin-top: 5px;
}

ul.nav.nav-tabs{
    padding-top: 15px;
}

.accordion-toggle-2 .panel {
    margin-bottom: 10px !important;
    border-color: #f5f5f5;
    border-radius: 0 !important;
    box-shadow: none;
}
.accordion-toggle-2 .panel, 
.accordion-toggle-2 .panel-heading {
    background-color: #fff;
    border-color: #dadadc;
    border-bottom: 1px solid #dadadc;
}

.accordion-toggle-2 .panel-heading {
    background-color: #fff;
    border-color: #dadadc;
    border-bottom: 1px solid #dadadc;
}
.accordion-toggle-2 .panel-heading {
    background-color: #edecf0 !important;
    border-radius: 0 !important;
    padding: 10px 15px;
}

.accordion-toggle-2 .panel-title {
    line-height: 16px;
}

.accordion-toggle-2 .panel-heading h3 {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    width: 100%;
    padding: 0;
    letter-spacing: 0px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    line-height: 1.6 !important;
    color: #363a47;
    
}


.accordion-toggle-2 .panel-heading h3 i {
    background-color: #202830 !important;
    color: #ffffff;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    position: absolute;
    right: -10px;
    top: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
    text-align: center;
    width: 21px;
    vertical-align: text-top;
}



.accordion-toggle-2 p {
    padding-bottom: 0;
}


/* ------------------- */



/*Image Slider*/
#slider{
    min-height: 500px;
}

#slider .carousel-inner .item img{
    height: 600px;
}

@media (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, 
    .carousel-control .glyphicon-chevron-right, 
    .carousel-control .icon-next, 
    .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: 45px;
        font-size: 30px;
    }

    .half-width{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Owl Carousol */
#owl-demo .item{
    margin: 8px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}



/* News and Announcement */

.news_slide #owl-demo .item .news-list{
    padding: 10px;
}

.news_slide #owl-demo .item .news-list h4{
    padding-top: 0;
    margin-top: 0;
}

.news_slide #owl-demo .item .news-list img{
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
}

.news_slide #owl-demo .item .news-list p{
    text-align: justify;
}

/* My Sign And Sign Up Modal Stylesheet */
.login-content label {
    width: 100%;
    padding-top: 8px;
} 

.col-md-7.login_reg_button .col-md-6:first-child{
    padding-left: 0;
}

.col-md-7.login_reg_button .col-md-6:last-child{
    padding-right: 0;
}

.news_slide #owl-demo .item .news-list .news-list-footer{
    border-top: 1px solid #000;
    display: block;
    min-height: 60px;
}

.news_slide #owl-demo .item .news-list a h4{
    padding: 5px;
}

.news_slide #owl-demo .item .news-list a.short-description{
    text-decoration: none;
}

.news_slide #owl-demo .item .news-list .news-list-footer p{
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.news_slide #owl-demo .item .news-list .news-list-footer p a{ 
    padding: 12px;
}

.news_slide #owl-demo .item .news-list .news-list-footer a{
    width: 32px;
    margin-top: 18px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 7px;

}

.news_slide #owl-demo .item .news-list .news-list-footer a:hover{
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #001451;
    color: #fff;
}

.news_slide #owl-demo .item .news-list .news-list-footer a span.glyphicon-upload{

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/* BreadCrums */

#breadcrumb{
    margin-top: 170px;
}

.page-title {
    position: relative;
    display: block;
    padding: 35px 0;
    border-top: 1px solid #dedde1;
    border-bottom: 1px solid #dedde1;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb > li{
    display: inline-block;
}


/* Footer StyleSheet */

footer{
    color: #fff;

    min-height: 500px;
    position: relative;
    background: url('../../images/subtle_white_mini_waves.png');

    background: rgba(47, 51, 47, 0.8);

}

footer .footer-logo-top{
    height: 250px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
}

footer .footer-logo h1{
    color: #93CA3A;
    padding-bottom: 10px;
}

footer .footer-logo img{
    width: 250px;
}

footer .copyright_wrap {
    font-size: 0.875em;
    padding: 1.5em 0;
    background-color: #ffffff;
    color: #222222;
    text-align: center;

    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
}

ul.footer-nav li a{
    color: #fff;
}

ul.footer-nav li i{
    margin-right: 10px;
}

ul.footer-nav{
    list-style-type: none;
    padding-left: 0;
}


/* Contact Page StyleSheet */ 

section.contact-form{
    padding: 80px 0;
}
#page-heading {
    margin-top: 115px;
    background-image: url(../../images/heading-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0px;
}

#page-heading h1 {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}

#page-heading span {
    font-family: 'Gerogia', serif;
    font-size: 17px;
    font-style: italic;
    color: #afafaf;
}

/* ----------------------------- */

.contact-form #contact_form input{
    border: 2px solid #e5e5e5;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    outline: none;
}

.contact-form #contact_form textarea{
    border: 2px solid #e5e5e5;
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 240px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    padding: 12px 15px;
    outline: none;
}

.accent-button a{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0px 15px;
    background-color: #93CA3A;
    border-radius: 3px;
    letter-spacing: 0.5px;
}

.contact-form .right-info h4{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.contact-form .right-info .line-dec{
    margin: 20px 0px;
    width: 45px;
    height: 2px;
    background-color: #93CA3A;
}

.contact-form .right-info ul{
    padding: 0;
    margin-top: 30px;
    list-style: none;
}

.contact-form .right-info ul li{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 12px 0px;
    color: #888888;
}

.contact-form .right-info ul li i{
    color: #373636;
    margin-right: 10px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.map{
    margin-bottom: 80px;
}

/* About Page StyleSheet */

.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    left: auto;
    right: 0;
}

.carousel-control .fa {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 24px;
    padding: 0.7em;
    position: absolute;
    top: 50%;
    transition: all 0.35s ease-in-out 0s;
    z-index: 5;
}


.carousel-control .fa:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
    transform: translate(0px, -50%);
}
.carousel-control .fa-angle-left {
    left: 0;
}

.widget-title {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.content-widget .widget-title {
    margin-bottom: 20px;
}

.content-widget .widget-title h4 {
    padding-top: 0;
    margin-top: 0;
    font-size: 30px;
    font-weight: 500;
}

.content-widget hr, .footer hr {
    border-color: #93CA3A;
    margin: 0;
    border-width: 2px;
    width: 45px;
}


/* Courses List */


.white.section{
    margin-top: 30px;
    margin-bottom: 30px;
}
.course-list {
    margin-bottom: 30px;
}

.course-list .shop-item-list, #course-left-sidebar {
    margin-bottom: 30px;
}

.shop-item-list {
    display: block;
    padding: 0;
    line-height: 1.9;
    z-index: 1;
    margin-bottom: 0;
    position: relative;
    text-align: left;
}

.shop-item-list img {
    width: 100%;
}

.magnifier {
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,0.5);
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.achievement-wrapper h4, .shop-list-desc h4, .shop-item-list h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 10px;
    line-height: 1.3 !important;
    text-transform: capitalize;
    padding: 0;
}

.shop-list-desc .shopmeta {
    margin-bottom: 30px;
}

.shopmeta span {
    display: block;
}

.invis {
    border-color: transparent;
}

.why-us i, .tags a, .btn-default {
    border-color: #e34b11 !important;
    background-color: #e34b11 !important;
    color: #ffffff !important;
}

.btn {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    text-transform: none;
    font-weight: 600;
}

.btn, a {
    outline: 0 !important;
    text-decoration: none !important;
}

/* Single Course view */

#single_course{
    margin-top: 200px;
}

#course-left-sidebar {
    margin-bottom: 30px;
}

.course-meta {
    padding: 15px 20px 10px;
    background-color: #3f4451;
    margin-top: 0;
}

.course-image-widget img {
    width: 100%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.course-meta p {
    display: inline-block;
    padding-right: 4px;
    padding-bottom: 0;
    font-size: 13px;
}

.course-meta p, .course-meta a {
    line-height: 1;
    color: #ffffff;
}

.course-meta hr {
    background: #626774;
    border-color: #121724;
    height: 1px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.course-meta .rating {
    margin-top: 0;
    padding-top: 0;
}

.course-meta p {
    display: inline-block;
    padding-right: 4px;
    padding-bottom: 0;
    font-size: 13px;
}
.course-meta p, .course-meta a {
    line-height: 1;
    color: #ffffff;
}
.course-meta p {
    width: 100%;
    display: block;
    position: relative;
}

.course-prize i {
    font-size: 16px;
    padding: 3px 2px 0;
}

.course-instructors img {
    width: 20px;
    margin: 0 8px;
}

.course-button .btn {
    border-radius: 0;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #5ba5af;
    color: #ffffff !important;
    border-color: #5ba5af;
}

.course-description small {
    font-weight: 600;
    margin-right: 20px;
    font-size: 13px;
}

.course-description .course-title {
    font-size: 24px;
}

.feedbacks .btn {
    padding: 10px;
}

.well {
    background-color: #edecf0;
    border-radius: 0;
    padding: 30px;
    border: 1px solid #dedde1;
}

.media:first-child {
    margin-top: 0;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}

.media-left, .media > .pull-left {
    padding-right: 10px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.course-table .fa-check {
    background-color: #92CD00;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.course-table .fa-close {
    background-color: #FF0000;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}


/* ========================================================================== */
footer {
    background: #3f4451;
    /*background-image: url(../../images/footer-bg.jpg);*/
    padding: 70px 0px;
}

footer .about-us p {
    margin-top: 30px;
}

footer h2 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-transform: uppercase;
}

footer .company-pages .first-list {
    margin-top: 5px;
    margin-right: 50px;
    float: left;
}

footer .company-pages ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

footer .company-pages ul li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #4a4a4a;
    width: 100%;
}

footer .company-pages ul li a {
    color: #afafaf;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

footer .company-pages ul li i {
    color: #afafaf;
    margin-right: 10px;
}

footer .company-pages .second-list {
    margin-top: 5px;
    margin-right: 0px;
}

footer .company-pages ul li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #4a4a4a;
    width: 100%;
}

footer .recent-posts .recent-item {
    display: inline-block;
    margin-top: 4px;
}

footer .recent-posts .recent-item img {
    border-radius: 5px;
    max-width: 100%;
}


footer .subscribe-us input[class='email'] {
    background-image: url(../images/mail-icon.png);
    background-position: 10px;
    background-repeat: no-repeat;
}

footer .subscribe-us input {
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #353535;
    width: 100%;
    padding-left: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    outline: none;
}

footer .subscribe-us input {
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #353535;
    width: 100%;
    padding-left: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    outline: none;
}

footer .subscribe-us input {
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #353535;
    width: 100%;
    padding-left: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    outline: none;
}

footer .subscribe-us .check-box label {
    padding-left: 22px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
    text-decoration: underline;
}

footer .subscribe-us .check-box input[type="checkbox"] {
    display: none;
}

footer .subscribe-us .check-box input[type="checkbox"] + label {
    display: inline;
    width: 12px;
    height: 16px;
    margin: -1px 4px 0 0;
    background: url(../images/check-box.png) left top no-repeat;
    cursor: pointer;
}

footer .subscribe-us .accent-button {
    margin-top: 25px;
}

#sub-footer {
    background-color: #282828;
    height: 60px;
}

.go-top.go-top-visible {
    visibility: visible;
    opacity: 1;
}

footer .subscribe-us .check-box input[type="checkbox"]:checked + label {
    background: url(../images/checked-box.png) 0px top no-repeat;
}

.go-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 77;
    font-size: 18px;
    text-align: center;
    background: #2d2c2c;
    color: #fff !important;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.go-top {
    width: 34px!important;
    height: 34px!important;
    line-height: 34px!important;
    font-size: 18px;
    border-radius: 5px;
    background-color: #93CA3A !important;
}



@media (min-width: 992px){
    .go-top {
        height: 60px;
        width: 60px;
        line-height: 60px;
        right: 30px;
        bottom: 60px;
    }
}





/* ========================================================================== */

/*Extra Small Media Query for custom Css Framework*/
@media(max-width:767px){
    .xs__float--left{
        float: left;
    }

    .xs__float--right{
        float: right;
    }

    .xs__float--none{
        float: none;
    }

    .secondary-nav .navbar-collapse.collapse{
        display: block;
    }

    .primary-nav .navbar-header #logo {
        width: 140px;
        height: 80px;
    }

    .navbar-toggle.collapsed{
        margin-top: 20px;
    }
}

/* --------------------------------- */ 

@media(min-width:768px){
    .sm__float--left{
        float: left;
    }

    .sm__float--right{
        float: right;
    }

    .sm__float--none{
        float: none;
    }

    .primary-nav .navbar-header #logo {
        width: 140px;
    }
}

/* --------------------------------- */ 

@media(min-width:992px){}

/* --------------------------------- */ 

@media(min-width:1200px){}

/* --------------------------------- */ 